#gallery {
    width: 88.7%;
    text-align: center;
}

#gallery .gallery-img {
    width: 30%;
    height: 200px;
    margin: 0.5rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 200% auto;
    cursor: pointer;
    vertical-align: top;
    position: relative;
}

#gallery .gallery-img .videomark {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    font-size: 1rem;
    font-weight: bold;
    background: rgba(255,0,0,0.6);
    color: #fff;
    width: 5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    z-index: 1;
    text-align: center;
}

#gallery .gallery-img .fader {
    width: 90%;
    height: 100%;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity .2s ease-in-out;
    padding: 0 5%;
}

.hidden {
    display: none !important;
}
iframe#the-video {
    margin: 2rem auto 0 auto;
    display: block;
    max-width: 100%;
}


#gallery .gallery-img:hover .fader {
    opacity: 1;
}
.gallery-img.prodgal{
    width: 40% !important;
    height: 300px !important;
    background-size: 150% auto !important;
}

#blackend {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
}

#blackend.open {
    display: block;
    z-index: 999;
    overflow-y: auto;
}

#blackend img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
    display: block;
}

#blackend #the-pic-description {
    font-size: 1.1rem;
    position: fixed;
    width: 90%;
    min-height: 2rem;
    left: 0;
    right: 0;
    bottom: 1rem;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    margin: auto;
    padding: 0.5% 5%;
}

#blackend #the-pic-description div {
    text-align: center;
}

#blackend #the-pic-description div:first-child {
    text-align: center;
    font-size: 1.5rem;
}

#blackend .close {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 2;
    width: 1em;
    height: 1em;
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}