input {
    -webkit-appearance: none !important;
}

div.black_wrap {
    background-color: #000;
    /*border-bottom: 1px solid #222;*/
    height: auto;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 0.3rem;
    border-radius: 0;
}
div.social {
    background-color: #000;
    min-height: 1.5rem;
    height: auto;
    width: 90%;
    margin: auto;
    padding: 0;
    display: block;
}
ul.social_menu {
    list-style-type: none;
    padding: 0.3rem 0;
    margin: auto;
    font-weight: bold;
    font-size: 1rem;
    height: auto;
    float:left;
    display: flex;
}
ul.social_menu li {
    display: inline;
    text-decoration: none;
    padding: 0 0.2rem;
}
ul.lang_menu {
    padding: 0.2rem 0;
}
div.top {
    background-color: #000;
    height: auto;
    width: 100%;
    margin: auto;
    background-image: url("../../img/strip1.jpg");
    display: inline-block;
    text-align: center;
    border-radius: 0;
}
div.top a {
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0,24,67,0.7);
}
div.top a:hover {
    border: 0px;
}
img.logo {
    margin: 0 auto;
    width: 20rem;
    padding: 2rem 1.5rem 1rem 1.5rem;
    display: block;
    border-radius: 0;
}
div.main_menu {
    background-color: #000;
    min-height: 2rem;
    height: auto;
    width: 90%;
    margin: auto;
    padding: 0;
    border-radius: 0;
}
ul.main_menu {
    background-color: #000;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 0.3rem 0;
}
ul.main_menu li {
    display: inline;
    text-decoration: none;
    margin: 0;
    padding: 0 0.5rem;
    height: auto;
    width: auto
}
li.opmenu {
    float: right !important;
    font-size: 1rem;
}

body.rtl li.opmenu {
    float: left !important;
}

header.mobile-header .top {
	position: fixed;
	top: 0;
	left: 0;
	background: #011638;
	z-index: 9;
}

header.mobile-header .top > a {
	float: right;
    width: 150px;
    margin: 0.5rem;
}

header.mobile-header .lang_menu {
	margin-right: 1rem;
	text-align: right;
}

header.mobile-header #menu-opener {
	width: 2rem;
	height: 2rem;
	background: url(../../img/menu-reg.svg) no-repeat center center;
	background-size: 100%;
	cursor: pointer;
	margin: 0.5rem;
	float: left;
}

header.mobile-header #menu-opener.close {
	background-image: url(../../img/menu-open.svg);
}

header.mobile-header div.main_menu {
	position: fixed;
	top: 3rem;
	left: 0;
	width: 100%;
	height: auto;
	transition: all .2s ease-in-out;
	transform: translate3d(0,0,0);
	z-index: 1;
	-webkit-box-shadow: inset -5px -10px 18px 9px rgba(1,22,56,0.9);
	-moz-box-shadow: inset -5px -10px 18px 9px rgba(1,22,56,0.9);
	box-shadow: inset -5px -10px 18px 9px rgba(1,22,56,0.9);
}

header.mobile-header div.main_menu.close {
	transform: translate3d(0,-200%,0);
}