div.page_menu {
    width: 91.1%;
    margin: 0 auto;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
img.product_eng {
    width: 90%;
    margin: 1rem auto;
    margin-top: 1em;
}
div.catdiv {
    background-color: #000
    min-height: 150px;
    height: 100%;
    width: 91.1%;
    margin: 0 auto;
    position: relative;
}
div.cat_wrap.insider, div.cat_wrap.insider * {
    cursor: default;
}
div.cat_wrap {
    margin: 3rem 0 auto;
    padding: 0;
    display: block;
    width: auto;
    min-height: 150px;
    height: auto;
}

div.cat_wrap, div.cat_wrap * {
    cursor:pointer;
}
div.product_header {
    height: auto;
    width: 88.7%;
    margin: 0 auto;
    margin-top: 1em;
    padding: 0.5rem 1rem;
}
div.product_icons {
    width: 88.7%;
    height: auto;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    letter-spacing: 0.07em
}
div.prod_img_buy {
    width: 30%;
    min-width: 280px;
    min-height: 100px;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    height: 100%;
}
div.prod_text_box {
    width: 60%;
    /*min-height: 300px;*/
    margin: 2rem 1rem auto;
    height: auto;
    display: inline-block;
    padding: 2rem 2rem 0 2rem;
    vertical-align: top;
}
div.prod_text_box:nth-child(odd) {
    background: #111;
}
div.prod_img_buy.product {
    cursor: default;
}
div.prod_img_buy form {
    padding: 0.5rem;
    width: 90%;
    height: auto;
    margin: 0 auto;
}
div.prod_img_buy h4 {
    font-size: 2rem;
	text-align: center;
	margin: 0 auto;
    padding: 0;
}
	
div.buy_title {
	font-size: 1.3rem;
    margin: 0 auto;
    padding: 0;
    display: block;
    text-align: center;
}

select.sel {
    background: #111;
    color: #fff;
    width: 81%;
    height: 1.5em;
    line-height: 1.5em;
    display: inline-block;
    border: 0;
    font-size: 1.3em;
    padding: 0 2%;
    margin: 0 auto;
}
.payment_btn {
    height: auto;
    margin: 0 auto;
    /*padding: 1rem 0.5rem;*/
}
.payment_btn input[type="submit"] {
    transition: color .3s ease-in-out;
    color: #fff;
    background: #000;
    font-size: 1.7em;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 6px;
    margin: 1rem 1.1rem;
   /* padding: 0 0.5rem;*/
    width: 100%;
    height: 1.5em;
    text-align: center;
}
.payment_btn input[type="submit"]:hover {
    transition: color .3s ease-in-out;
    color: #FFA400;
    border: 2px solid #FFA400;
}
.payment_btn input[type="number"] {
    background: #111;
    color: #fff;
    width: 77%;
    height: 1.5em;
    line-height: 1.5em;
    margin: 0 auto;
    display: inline-block;
    border: 0;
    cursor: text;
    font-size: 1.3em;
    padding: 0 0.2rem;
}
.payment_btn span {
    display: inline-block;
    font-size: 1.3rem;
    padding: 0 1rem;
}
span.buy_info {
    color: #bbb;
    font-size: 0.8rem;
    margin: 0 auto;
}
h1.price {
    font-size: 4rem;
    display: inline;
}
h1.product {
    font-size: 2rem;
    color: #FFA400;
}
h2.product {
    font-size: 1rem;
}
h5.curr {
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 0;
    display: inline;
}

.mobile {
    display: none;
}

ul.prod_point {
    list-style-type: circle;
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

ul.prod_point li {
    padding: 0;
    padding: 0;
    margin: auto;
    margin: 0;
}
ul.other_point {
    list-style-type: circle;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
ul.other_point li{
    margin: 0.5rem 0 auto;
}

.product_description {
    padding: 0 1.5rem;
}

#coupon_wrapper {
    clear: both;
    text-align: center;
}

#coupon {
    background: #111;
    color: #fff;
    width: 77%;
    height: 1.5em;
    line-height: 1.5em;
    margin: 0.3rem 1rem;
    display: inline-block;
    border: 0;
    cursor: text;
    font-size: 1.2em;
    padding: 0 2%;
}


#coupon_button {
    width: 25%;
    height: 1.7em;
    line-height: 1.7em;
    margin: 0 auto;
    display: inline-block;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em;
    text-align: center;
    background: #000;
    color: #fefefe;
}
#coupon_button:hover {
    color: #FFA400;
}

.buttons_before_prod, body.rtl .buttons_before_prod {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.buttons_before_prod a.cat_nav {
    width: 7em;
    margin: 1rem 0.5rem 0 0.5rem;
    height: 1rem;
    line-height: 1rem;
    display: inline-block;
}
.product_header.black {
    background-color: black;
    margin: 0 auto;
}
.product_header.black h2 {
    color: #EAEAEA;
}
span.cat_sub {
    font-size: 0.7em;
    display: inline-block;
    color: #D5D5D5;
}