body {
    background: #1a1a1a;
    background-image: url("/img/forberz_back3.png");
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    color: #fefefe;
    font-family: "Arial", helvetica, sans-serif; 
    min-width: 320px;
}

body.rtl, body.rtl * {
	direction: rtl;
}

body.rtl * {
	text-align: right;
}
body.ltr table.shops {
	text-align: left;
}

.fa {
  padding: 0;
  font-size: 1rem;
  width: 5px;
  text-align: center;
  text-decoration: none;
  margin: auto;
}

img {
    margin: 0 auto;
    padding: 0;
    display: block;
    border-radius: 2px;
}
img.black_img {
    box-shadow: 0 0 70px 10px black;
    padding: 0;
    margin: 1em;
    float: left
}
a {
    transition: color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    color: #fefefe;
    text-decoration: none;
    padding: 0
}
a:not(.grey):hover {
    color: orange;
    cursor: pointer;
}
a.active {
    color: lightblue
}

div {
    border-radius: 2px;
}
div.main {
    background-color: #0A0A0A;
    height: auto;
    width: 88.7%;
    margin: 0 auto;
    margin-top: 1em;
    padding: 0.5rem 1rem;
}

h1 {
    margin: 0;
    padding: 0
}
h2 {
    margin: 0;
    padding: 0
}
h4 {
    margin: 0;
    padding: 0
}

.grey {
    color: #aaa
}

h3 {
    margin: 0;
    padding: 0
}
p {
    margin: 0;
    padding: 0
}

/*about*/
div.main.abouter {
    padding: 0;
    width: 91.1%;
}
div.about {
    display: inline-block;
    width: 91.1%;
    padding: 0;
    margin: 0 auto;
    background-color: #0A0A0A;
}
div.about_side_pic {
    float: left;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    height: 100%;
}
div.about_text {
    margin: 1rem;
    width: 60%;
    
}